= stylesheet_link_tag 'contact_us'

%h2 Contact Us
%div.person
  = image_tag("fb_avatar.jpg")
  %span Michael Kirby
  %span mkirby@ucsd.edu
%div.person
  = image_tag("fb_avatar.jpg")
  %span Yang Hu
%div.person
  = image_tag("fb_avatar.jpg")
  %span Farhad Al-Qirsan Akbari
%div.person
  = image_tag("fb_avatar.jpg")
  %span Ruben Kaleb Apodaca
%div.person
  = image_tag("fb_avatar.jpg")
  %span Raúl Gomezcaña Huerta
%div.person
  = image_tag("fb_avatar.jpg")
  %span Phil Balistreri
