= stylesheet_link_tag "homepage.css"

%h2 Top Phones
%div.topPhones
%table#phones
  %tr
    -@top_phones.each_with_index do |phone, i|
      %td
        %div
          %strong= "#{i+1} "
        = link_to (phone.imgurl)? (image_tag phone.imgurl) : "", phone_path(phone)
  %tr
    -@top_phones.each_with_index do |phone, i|
      %td
        %div= phone.brand
        %div= link_to phone.name, phone_path(phone)
        %div.star= phone.overallRatings().to_s
          

%div.column
  %h2 Recent Reviews
  - @recentReviews.each do |review|
    %div.recentReview
      %div.img= link_to (review.user.image)? (image_tag review.user.image) : "", user_path(review.user)
      %div.review
        %div.phone= link_to review.phone.brand + " " + review.phone.name, phone_path(review.phone)
        %div.review
          %strong= review.user.username + " said: "
          = review.review_text
      %div.star= review.rating
      %br{:style=>"clear:both;"}
%div.column
  %h2 Featured Phone
  %div.featuredPhone
    - if @featuredPhone
      = link_to @featuredPhone.brand + " " + @featuredPhone.name, phone_path(@featuredPhone)
      %br
      = image_tag @featuredPhone.imgurl
      %br
      %strong Specs
      %br
      - @featuredPhone.tags.each do |tag|
        %ul
          %li= tag.key + ": " + tag.value
      %h3 Activity
      - @featuredPhone.reviews.limit(5).each do |review|
        %div.recentReview
          %div.img= link_to (review.user.image)? (image_tag review.user.image) : "", user_path(review.user)
          %div.review
            %div.review
              %strong= review.user.username + " said: "
              = review.review_text
          %div.star= review.rating
          %br{:style=>"clear:both;"}

%br{:style=>"clear:both;"}
