= stylesheet_link_tag 'phones'
%h2 Browse Phones


%span="Showing #{(@current_page-1)*@num_per_page+1}-#{@current_page*@num_per_page} of #{@num_all} Results     " 


%table#phones
  %thead
    %tr
      %th
      %th Brand
      %th Name
      %th Rating
      -if !@phones.empty?
        -@phones.each do |phone|
          %tr
            %td= (phone.imgurl)? (image_tag phone.imgurl) : ""
            %td= phone.brand
            %td= link_to "#{phone.name}", phone_path(phone)
            %td 
              %span.review
                =link_to image_stars(phone.num_stars()) ,  phone_path(phone)  
                = phone.overallRatings().to_s+"%"
                = "(#{phone.reviews.count}  reviews)"
              %div.float
                =link_to image_stars(phone.num_stars()) ,  phone_path(phone)
                = phone.overallRatings().to_s+"%"
                %br
                %br
                - reviews = (phone.reviews.order("num_likes DESC"))[0 .. 2]
                - if !reviews.empty?
                  -reviews.each do |review|
                    %section
                      = " \" #{review.review_text} \" "
                      %br
                      = (link_to "#{review.user.username}", user_path(review.user)) + content_tag(:span, (space(4)+'|'+space(4)+"#{review.num_likes} Likes"+space(8)+"#{review.num_dislikes} Dislikes").html_safe)
                      
                    %br
 


= link_to_unless  @current_page==1, "Previous Page",  phones_path(:show=> @num_params, :sort_by => @sort_by_params, :page=>(@current_page-1), :ratings => @ratings_params, :brands => @brands_params, :os => @os_params ) 

- @pages_bar.each do |p|
  = link_to_unless  @current_page==p||p=="...",  "#{p}", phones_path(:show=> @num_params, :sort_by=> @sort_by_params, :page=>p, :ratings => @ratings_params, :brands =>@brands_params, :os => @os_params ) 

=link_to_unless  @current_page==@num_pages||@num_pages==0,  "Next Page", phones_path(:show=> @num_params, :sort_by=> @sort_by_params, :page=>(@current_page+1), :ratings => @ratings_params, :brands => @brands_params, :os => @os_params ) 

%nav#R_col{:align => "right"}
  = form_tag phones_path, :method => :get, :id =>"side_col" do
    %section#Sort       
      = label :show, :number, "Show"
      = select :show, :number, @select_num, {}, :onchange => "$('#side_col').submit()"
      = label :sort_by, :word, "Sort by"
      = select :sort_by, :word, @select, {}, :onchange => "$('#side_col').submit()"
    %section#Brands
      %h4 Manufacturer          
      %section.Brands1
        - @brands1. each do |b|
          = check_box_tag name= "brands[#{b}]", value = 1, checked = @brands_checked[b], :class => "ratings", :onclick => "$('#side_col').submit()"
          = "#{b}"
          = content_tag(:span, "    (#{@num_if_checked[b]})", :class => 'num_if_checked') 
          %br
      %section.Brands2
        - @brands2. each do |b|
          = check_box_tag name= "brands[#{b}]", value = 1, checked = @brands_checked[b], :class => "ratings", :onclick => "$('#side_col').submit()"
          = "#{b}"
          = content_tag(:span, "   (#{@num_if_checked[b]})", :class => 'num_if_checked') 
          %br
      %p See more manufacturers
      
    %section#OSs
      %h4 Operating System
      - @os.each do |s|
        = check_box_tag name= "os[#{s}]", value = 1, checked = @os_checked[s], :class => "ratings", :onclick => "$('#side_col').submit()"
        = "#{s}"
        = content_tag(:span, "      (#{@num_if_checked[s]})", :class => 'num_if_checked') 
        %br
    %section#Ratings
      %h4 Overall Rating
      - @ratings.each do |r|    
        = check_box_tag name= "ratings[#{r}]", value = 1, checked = @ratings_checked[r], :class => "ratings"
        = image_stars(r.to_i)+content_tag(:span, "&UP") 
        = content_tag(:span, "      (#{@num_if_checked[r]})", :class => 'num_if_checked') 
        %br
     







