%h2= @phone.brand + ' ' + @phone.name
= (@phone.imgurl) ? (image_tag @phone.imgurl) : ""
%div
  %div{:style => "float:left"}
    = button_to "Back", {:controller => "phones", :action => "index" }, :method => :get
%div{:style => "clear:both"}

%ul#tags
  - @tags.each do |tag|
    %li= tag.key + ": " + tag.value

  - @ratings.each do |rating|
    %li= "Rating: " + rating.rating.to_s

%h4~ ("Pro Rating: " + @prorating.to_s)
%h4~ ("User Rating: " + @userrating.to_s)
%h3~ ("Overall Rating: " + @overallrate.to_s )

%table#reviews
  %thead
    %tr
      %th{:width => "250px"}
        TelePhoenix User Reviews
      %div
        %div{:style => "float:left"}
          %th= button_to "New Review", new_phone_review_path(@phone), :method => :get 
      %div{:style => "clear:both" }
    %tbody
    - @reviews.each do |review|
      %tr
        %td
          %dl
            %dt
              %dd
                = "User: "
                = link_to review.user.username.to_s, user_path(review.user)
              %dd
                = "Rating: " + review.rating.to_s
              %dl
                %dt
                  %dd
                    = review.review_text.to_s
          %td
      %tr      
        %td
        - current_user = User.find_by_id(session[:user_id])
        %td
          %dl  
            %dt
              %div
                %div{:style => "float:left"}
                  %dd
                  = button_to "#{review.num_likes} Likes", {:review_id =>review.id,  :value => "like",:method => "get", :action => "create", :controller => "review_likes" }
              %div{:style => "clear:both" }

              %div
                %div{:style => "float:left"}
                  %dd= button_to "#{review.num_dislikes} Dislikes", {:review_id =>review.id,  :value => "unlike",:method => "get", :action => "create", :controller => "review_likes" }
              %div{:style => "clear:both" }

              %div
                %div{:style => "float:left"}         
                  %dd= link_to "View Comments (" + review.comments.count.to_s + ")", phone_review_path(review.phone, review)
              %div{:style => "clear:both" }
          
 

      
