%h2= @phone.brand + ' ' + @phone.name
= (@phone.imgurl) ? (image_tag @phone.imgurl) : ""
%p= link_to "Back", phones_path

%ul#tags
  - @tags.each do |tag|
    %li= tag.key + ": " + tag.value

  - @ratings.each do |rating|
    %li= "Rating: " + rating.rating.to_s

%h4~ ("Pro Rating: " + @prorating.to_s)
%h4~ ("User Rating: " + @userrating.to_s)
%h3~ ("Overall Rating: " + @overallrate.to_s )

%table#reviews
  %col{:width => "200px"}
  %thead
    %tr
      %th Pro Reviews
      %th TelePhoenix User Reviews
      %th= link_to "New Review", new_phone_review_path(@phone)
    %tbody
      - @reviews.each do |review|
        %tr
          %td pro review here
          %td~ ("Rating: " + review.rating.to_s + "\n User: " + review.user.username.to_s + "\n" + review.review_text)
          %td 
          %td= link_to "View Comments (" + review.comments.count.to_s + ")", phone_review_path(@phone, review)

          %td= "Rating: " + review.rating.to_s 
          %td= link_to "User: " + review.user.username.to_s, user_path(review.user)
        %tr
          %td= "\t"
          %td= review.review_text.to_s
          %td= button_to 'Like', :controller => "review_likes", :action => "new", :review_id => review.id, :value => 1, :method => "get"

          %td= link_to "View Comments (" + review.comments.count.to_s + ")", phone_review_path(review.phone, review)



      
