%h2 Change Password

= form_tag change_password_user_path(@user), method: :post do
  = label :user, :username, "Current password"
  = password_field :user, :current_password
  
  = label :user, :password, "New password"
  = password_field :user, :password

  = label :user, :password_confirmation, "Confirm password"
  = password_field :user, :password_confirmation

  = submit_tag "Save changes"
