= stylesheet_link_tag 'user'
%h4=@user.username
%div.profile
  = image_tag @user.image_url.to_s, :class => 'photo'
  = form_for @user, :html => {:multipart => true} do |f|
    %p Change Profile Picture
    = f.file_field :image, :class=>"image_input"
    %br
    = f.submit "Save"
  %p
    %b  Name:  
    = best_in_place @user, :name, :nil=> "click to input Name"
  %p
    %b Email: 
    = best_in_place @user, :email, :type => :input,:nil=> "click to input email address"
  %p
    %b Gender:
    = best_in_place @user, :gender, type: :select, collection: [["Male", "Male"], ["Female", "Female"], ["", "Unspecified"]]

  %p
    %b Location:
    = best_in_place @user, :location, :nil=>"click to input current location"
  
  %p.web_page
    %b Web Page:
    = best_in_place @user, :web_page, :nil=>"click to input personal web page"

  %section.interests
    %b Insterests:
    %br
    = best_in_place @user, :interest, type: :textarea, :nil=>"click to put your interests"
  %p
    %b Is your profile open to public ?
    =best_in_place @user, :public_profile, type: :checkbox, collection: %w[No Yes]



