%h2 What would you like to do?

%table{:style => "width: 50%; height: 40%"}
  %tr
    %th 
      %b Supervise Moderators
    %th
      %b Assign Moderators
  %tbody
    %tr{:valign => "top"}
      %td
        %dl
          %dt{:valign => "center"}
          - if @moderators.empty?
            %dd
            = "No moderators to administrate"
          - @moderators.each do |moderator|
            %dd
              = moderator.username 
              %dl
                %dt
                  %dd
                    %div
                      %div{:style => "float:left"}
                        = button_to "Demote", user_upgrade_path(moderator, :kind => "demote"), confirm: 'Are you sure?'
                      %div{:style => "float:left"}
                        = "  |  "
                      %div{:style => "float:left"}  
                        = button_to "Delete User", user_path(moderator), method: :delete, confirm: 'Are you sure?'
                      %div{:style => "clear:both" }
                  %p
      %td
        %dl
          %dt
          - if @users.empty?
            %dd{:align => "center"}
            = "No users to administrate"
          - @users.each do |usr|
            %dd
              = usr.username 
              %dl
                %dt
                  %dd
                    %div
                      %div{:style => "float:left"}
                        = button_to "Promote", user_upgrade_path(usr, :kind => "promote"), confirm: 'Are you sure?'
                      %div{:style => "float:left"}
                        = "  |  "
                      %div{:style => "float:left"}  
                        = button_to "Delete User", user_path(usr), method: :delete, confirm: 'Are you sure?'
                      %div{:style => "clear:both" }

                  %p
    %tr
      %td= button_to "Back to Phones", phones_path 



