%h2 Administrating Moderators

%table{:style => "width: 800px"}
  %tr
    %th{:align => "left"} 
      %b List of all Users:
    %th{:align => "left"}
      %b List of all Reviews:
  %tbody
    %tr
      %td{:valign => "top"}
        %dl
          %dt
          - if @users.empty?
            %dd
            = "No users to administrate"
          - elsif
            - @users.each do |usr|
              %dd
                = usr.username 
                %dl
                  %dt
                    %dd
                      = link_to "Promote", user_upgrade_path(usr, :kind => "promote"), confirm: 'Are you sure?'
                      = " | "
                      = link_to "Delete User", user_path(usr), method: :delete, confirm: 'Are you sure?'
                    %p 
      %td{:valign => "top"}
        %dl
        - @phones.each do |phone|
          - if !Review.find_all_by_phone_id(phone.id).empty?
            %dt
              %b= phone.name
              %dd{:valign => "top"}
              - @reviews = Review.find_all_by_phone_id(phone.id)
              - @reviews.each do |review|
                = review.review_text
                %dd{:margin => "100" }
                = link_to "View full review", phone_review_path(review.phone, review)
                = " | "
                ="by user "
                = link_to "#{review.user.username}", user_path(review.user)
                %p
    %tr
      %td= link_to "Back to Phones", phones_path