%h2 What would you like to do?

%table{:style => "border: 50px; width: 65%; height: 30%"}
  %tr
    %th 
      %b Supervise Moderators
    %th
      %b Assign Moderators
  %tbody
    %tr
      %td
        %dl
          %dt
          - if @moderators.empty?
            %dd
            = "No moderators to administrate"
          - @moderators.each do |moderator|
            %dd{:height => '50px'}
              = moderator.username 
              %dl
                %dt
                  %dd
                    = link_to "Demote", user_upgrade_path(moderator, :kind => "demote"), confirm: 'Are you sure?'
                    = " | "
                    = link_to "Delete User", user_path(moderator), method: :delete, confirm: 'Are you sure?'
                  %p
      %td
        %dl
          %dt
          - if @users.empty?
            %dd{:align => "right"}
            = "No users to administrate"
          - @users.each do |usr|
            %dd
              = usr.username 
              %dl
                %dt
                  %dd
                    = link_to "Promote", user_upgrade_path(usr, :kind => "promote"), confirm: 'Are you sure?'
                    = " | "
                    = link_to "Delete User", user_path(usr), method: :delete, confirm: 'Are you sure?'
                  %p
    %tr
      %td= link_to "Back to Phones", phones_path 



