%h2 What would you like to do?

%table{:style => "border: 50px; width: 65%; height: 30%"}
  %tr
    %th 
      %b Supervise Moderators
    %th
      %b Assign Moderators
  %tbody
    %tr
      %td
        %dl
          %dt
          - @moderators.each do |moderator|
            %dd{:height => '50px'}
              = moderator.username 
              %dl
                %dt
                  %dd
                    = link_to "Demote", edit_user_path(moderator, :demote), confirm: 'Are you sure?'
                    = " | "
                    = link_to "Delete User", user_path(moderator), method: :delete, confirm: 'Are you sure?'
                  %p

      %td
        %dl
          %dt
          - @users.each do |usr|
            %dd
              = usr.username 
              %dl
                %dt
                  %dd
                    = link_to "Promote", edit_user_path(usr, :promote), confirm: 'Are you sure?'
                    = " | "
                    = link_to "Delete User", user_path(usr), method: :delete, confirm: 'Are you sure?'
                  %p
    %tr
      %td= link_to "Add Scripts"



