= stylesheet_link_tag 'user'
%h2= @user.username
- if !@user.public_profile&&session[:user]!=@user
  %p="#{@user.username}'s information is not open to all"
- else
  %div
    = image_tag @user.image_url(:thumb).to_s, :class => 'photo'
    %p
      = "Name:#{@user.name}"
    %p
      = "Email:#{@user.email}"
    %p
      = "Gender:#{@user.gender}"
    %P
      = "Location: #{@user.location}"
    %p
      = "Web Page: #{@user.web_page}"
    %div.interests
      = "Insterests: #{@user.interest}"


%table#reviews
  %col{:width => "200px"}
  %thead
    %tbody
      - @reviews.each do |review|
        %tr
          %td= "Rating: " + review.rating.to_s
          %td
            = "Phone: "
            = link_to review.phone.name.to_s, phone_path(review.phone)
        %tr
          %td= "\t"
          %td= review.review_text.to_s             
          %td= link_to "View Comments (" + review.comments.count.to_s + ")", phone_review_path(review.phone, review)


