%h2 Review
%p= link_to "Back", phone_path(@review.phone)

%ul#review
  %li= @review.user.username.to_s + ": "
  %li= @review.rating.to_s
  %li= @review.review_text

%table#comments
  %col{:width => "200px"}/
  %thead
    %tr
      %th= link_to "New Comment", new_phone_review_comment_path(@review.phone, @review)
    %tbody
      - @comments.each do |comment|
        %tr
          %td= comment.user.username + " Says: "
        %tr
        - if moder?
          %td= link_to "Delete User", user_delete_path(comment.user.id), :confirm => "Are you sure?", :method => :delete
        %tr  
          %td= "\t"
          %td= comment.comment_text
        
        - if moder?
          %td= "\t"
          %td= link_to "Edit Post"
          %td= link_to "Delete Post"


