%h2 Review
%p= link_to "Back", phone_path(@review.phone)

%ul#review
  %li= @review.user.username.to_s + ": "
  %li= @review.rating.to_s
  %li= @review.review_text
  - current_user = User.find_by_id(session[:user_id])
  - if (current_user != nil && (current_user == @review.user || moder? || admin?)) 
    = link_to "Edit Review", edit_phone_review_path(@review.phone, @review)


%table#comments
  %col{:width => "200px"}/
  %thead
    %tr
      %th= link_to "New Comment", new_phone_review_comment_path(@review.phone, @review)
    %tbody
      - @comments.each do |comment|
        %tr
          %td= comment.user.user_type.to_s
          %td
            = link_to comment.user.username.to_s, user_path(comment.user) 
            = "Says:"
        %tr  
          %td= "\t"
          %td= comment.comment_text
          %td= button_to "Report"

        - if (current_user != nil && (moder? || admin?))
          %td= "\t"
          %td= link_to "Edit Post"
          %td= button_to "Delete Comment", phone_review_comment_path(@review, comment), method: :delete, confirm: 'Are you sure?'
