%h2 Review
%div
  %div{:style => "float:left"}
    = button_to "Back", {:controller => "phones", :action => "show" }, :method => :get
%div{:style => "clear:both"}
%p

%table{:style => "width: 50%; height: 40%"}
  %tr
    %th{:align => "left"} 
      %b= @review.user.username.to_s + ": "
  %tr
    %th
  %tbody
    %tr{:valign => "top"}
      %td
        %dl
          %dt
            %dd
              = "Rating: "
              = @review.rating.to_s
            %dd
              = @review.review_text 
          %dl
            %dt
              %p
              %dd
              - current_user = User.find_by_id(session[:user_id])
              - if (current_user != nil && @can_edit)
                %div
                  %div{:style => "float:left"}
                    = button_to "Edit Review", {:controller => "reviews", :action => "edit" }, :method => :get
                  %div{:style => "float:left"}
                    = "|"
                  %div{:style => "float:left"}
                    = button_to "Delete Review", phone_review_path(@review.phone, @review), :method => :delete, confirm: 'Are you sure?'
                %div{:style => "clear:both" }
%table#comments
  %col{:width => "200px"}/
  %thead
    %tr
      %div
        %div{:style => "float:left" }
          %th
            = button_to "New Comment", new_phone_review_comment_path(@review.phone, @review), :method => :get
      %div{:style => "clear:both" }

    %tbody
      - @comments.each do |comment|
        %tr
          %td= comment.user.user_type.to_s
          %td
            = link_to comment.user.username.to_s, user_path(comment.user) 
            = "Says:"
        %tr  
          %td= "\t"
          %td= comment.comment_text

        - if (current_user != nil && (current_user == comment.user || moder? || admin?))
          %td= "\t"
          %td= button_to "Edit", edit_phone_review_comment_path(@review.phone, @review, comment), :method => :get
          %td= button_to "Delete", phone_review_comment_path(@review, comment), method: :delete, confirm: 'Are you sure?'
