!!! 5
%html
  %head
    %title TelePhoenix
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = image_tag 'tplogo.png'
    
    %div#navbar
      = link_to "Home"
      = link_to "About"
      = link_to "Contact"
      = link_to "Browse"
      = link_to "Search"
    = yield


